/*
.smex-items
*~$
places
.recentf
ido.last
cider-history
projectile-bookmarks.eld
projectile.cache
auto-save-list
backups

!.gitignore
!README.md
!init.el
!customizations/
themes/
!themes/color-theme-tomorrow.el
!themes/tomorrow**.el
!themes/zenburn**

